---
body_dom_id: services
container_class: container
---

%h1 Currently out on Loan
%table.table.table-condensed
  %thead
    %tr
      %th Precious
      %th Culprit
      %th Date Loaned
  %tbody
    %tr
      %td
        Collective Intelligence
        %br
        Beautiful Data
      %td Hua Wang
      %td 08/22/2012
    %tr
      %td
        Elements of Computing Systems
        %br
        CODE
      %td Bill Bahn
      %td 09/22/2012
    %tr
      %td
        Introduction to Data Mining
      %td Majid Shaalan
      %td 11/20/2012

