body
  padding-top: 60px
  padding-bottom: 40px

body#home
  .hero-unit
    background: url('../images/ibm1967.png') no-repeat left

footer
  font-size: 0.8em
  color: #CCC
  a
    color: #CCF


.course_list
  li
    font-size: .8em
  li.future
    color: #999

body#courses
  .well
    padding-left: 0px
    padding-right: 0px