---
body_dom_id: administration
container_class: container-fluid
---

.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Spring 2013
        %li.future Asst. Department Head
        %li.future EECS UG Committee
        %li.future UG Council Rep.
        %li.future ACM Faculty Advisor
        %li.nav-header Fall 2012
        %li Asst. Department Head
        %li EECS UG Committee
        %li UG Council Rep.
        %li ACM Faculty Advisor
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Administration
        %li= link_to 'Faculty Peer Review', 'faculty_peer_review.html', :title => 'Faculty Peer Reviews'
        %li.future TODO
        %li.future TODO
        %li.future TODO
        %li.future TODO
        %li.future TODO
  .span9
    .hero-unit
      %h1 Better than yesterday.
      %p Currently serving as Assistant Department Head, I manage course scheduling, advisor allocation, and strive to continuously improve the undergraduate curriculum.
      / %p
      /   %a.btn.btn-primary.btn-large Learn more »
    .row-fluid
      .span4
        %h2 Course Scheduling
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Undergraduate Advising
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Undergraduate Curriculum
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
    .row-fluid
      .span4
        %h2 ACM Faculty Advisor
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Classroom Observations
        %p High-quality teaching should manifest in the classroom. This is a draft proposal for continued classroom observation to support instructor improvement.
        %p= link_to 'Learn more »', 'classroom_observation.html', :title => 'Classroom Observation', :class => 'btn'
    .row-fluid
      .span12
        %br
        %iframe{:width => 720, :height => 540, :src => "http://www.youtube.com/embed/l1llNYAlYrc", :frameborder => 0, :allowfullscreen => true}
