---
body_dom_id: contact
container_class: container
---

%h1 Yong Joseph Bakos
%h2
  %a{:href => "http://engineering.mines.edu", :title => "Dept. of Mathematical & Computer Sciences"} Electrical Engineering & Computer Science
%h3 College of Engineering & Computational Sciences
%h3 Colorado School of Mines
%address
  Brown Building 323
  %br
  1500 Illinois Street
  %br
  Golden, CO 80401
%p.phone 303 384 2468
%pre.code{:style => 'background-color: #131313; width: 400px;'}
  %span{:style => 'color:#5f5a60;'} #!/usr/bin/env ruby
  %span{:style => 'color:#d0a767; display:inline;'} def <span style="color:#996c3d;">email</span>
  %span{:style => 'color:#8f9c69; display:inline;'} &nbsp;&nbsp;"<span style="color:#ddf0a3">\#{first_initial}\#{last_name}</span>@mines.edu"
  %span{:style => 'color:#d0a767'} end
%h2.marginless_bottom Office Hours
%p.section_description Tues & Thurs from 12 - 1PM & 3 - 4PM. Also available via appointment.
