---
body_dom_id: courses
container_class: container-fluid
---

.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list.course_list
        %li.nav-header Spring 2013
        %li.future CSCI261 Programming Concepts
        %li.future CSCI403 Database Management
        %li.future CSCI410 Elements of Computing Systems
        %li.future CSCI446 Web Application Development
        %li.nav-header Fall 2012
        %li= link_to 'CSCI261 Programming Concepts', '#'
        %li= link_to 'CSI410 Elements of Computing Systems', '#'
        %li= link_to 'CSCI498A Mobile Device Programming', '#'
        %hr
        %li.nav-header Spring 2012
        %li #TODO
        %li.nav-header Fall 2011
        %li #TODO
        %hr
        %li.nav-header Spring 2011
        %li #TODO
        %li.nav-header Fall 2010
        %li #TODO
        %hr
        %li.nav-header Spring 2010
        %li #TODO
        %li.nav-header Fall 2009
        %li #TODO
        %hr
        %li.nav-header Spring 2009
        %li #TODO
        %li.nav-header Fall 2008
        %li #TODO
        %hr
        %li.nav-header Spring 2008
        %li #TODO

    .well.sidebar-nav
      %ul.nav.nav-list.course_list
        %li.nav-header Course Proposals
        %li.future Mobile Programming: iOS &amp; Mobile Web
        %li.future Postmodern Software Engineering
        %li.future Advanced Database Systems
        %li.future A Postmodern Introduction to CS
        %li.future Readings in Software Engineering
        %li.future The Future Does not Compute (Ethics)
  .span9
    %h2.marginless_bottom Course Materials
    %h3 2012
    %ul
      %li
        %h4 Fall
        %ul
          %li
            %a{:href => "https://piazza.com/class_profile#fall2012/csci261/course_information", :title => "CSCI 261 Programming Concepts C++"} CSCI 261: Programming Concepts
          %li
            %a{:href => "https://piazza.com/class_profile#fall2012/csci410/course_information", :title => "CSCI 410 Elements of Computing Systems"} CSCI 410: Elements of Computing Systems
          %li
            %a{:href => "https://piazza.com/class_profile#fall2012/csci498a/course_information", :title => "CSCI 498A Mobile Device Programming (Android)"} CSCI 498A: Mobile Device Programming (Android)
      %li
        %h4{:style => "color:#999"} Spring
        %ul{:style => "color:#999"}
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2012/spring/csci261/", :style => "padding: 5px;", :title => "CSCI 261 Programming Concepts C++"} CSCI 261: Programming Concepts
            (Coordinating)
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2012/spring/csci403/", :style => "padding: 5px;", :title => "CSCI 403 Database Management"} CSCI 403: Database Management
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2012/spring/csci410/", :style => "padding: 5px;", :title => "CSCI 498C Elements of Computing Systems"} CSCI 410: Elements of Computing Systems
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2012/spring/csci446/", :style => "padding: 5px;", :title => "CSCI 446 Advanced Web Development"} CSCI 446: Web Application Development
    %h3{:style => "color:#999"} 2011
    %ul{:style => "color:#999"}
      %li
        %h4 Fall
        %ul
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2011/fall/csci261/", :style => "padding: 5px;", :title => "CSCI 261 Programming Concepts C++"} CSCI 261: Programming Concepts
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2011/fall/csci261/ce", :style => "padding: 5px;", :title => "CSCI 261 Programming Concepts C++"} CSCI 261C/E: Programming Concepts
            (specific for sections C & E)
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2011/fall/csci568/", :style => "padding: 5px;", :title => "CSCI 568 Data Mining"} CSCI 568: Data Mining
      %li
        %h4 Spring
        %ul
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2011/spring/csci341/", :style => "padding: 5px;", :title => "CSCI 341 Database Management"} CSCI 341: Computer Organization
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2011/spring/csci403/", :style => "padding: 5px;", :title => "CSCI 403 Database Management"} CSCI 403: Database Management
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2011/spring/csci446/", :style => "padding: 5px;", :title => "CSCI 446 Advanced Web Development"} CSCI 446: Advanced Web Development
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2011/spring/csci498/", :style => "padding: 5px;", :title => "CSCI 498C Elements of Computing Systems"} CSCI 498/598B: Elements of Computing Systems
    %h3{:style => "color:#999;"} 2010
    %ul{:style => "color:#999"}
      %li
        %h4 Fall
        %ul
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2010/fall/csci261/", :style => "padding: 5px;", :title => "CSCI 261 Intro to Computer Programming"} CSCI 261E/F: Programming Concepts
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2010/fall/csci568/", :style => "padding: 5px;", :title => "CSCI 568 Data Mining"} CSCI 568: Data Mining
    %ul{:style => "color:#999;"}
      %li
        %h4 Spring
        %ul
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2010/spring/csci403/", :style => "padding: 5px;", :title => "CSCI 403 Database Management"} CSCI 403: Database Management
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2010/spring/csci498/", :style => "padding: 5px;", :title => "CSCI 498C Elements of Computing Systems"} CSCI 498C: Elements of Computing Systems
    %h3.past{:style => "color:#999;"} 2009
    %ul{:style => "color:#999;"}
      %li
        %h4 Fall
        %ul
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2009/fall/csci261/", :title => "CSCI 261 Programming Concepts"} CSCI 261A: Programming Concepts
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2009/fall/csci568/", :title => "CSCI 568 Data Mining"} CSCI 568: Data Mining
    %ul{:style => "color:#999;"}
      %li
        %h4 Spring
        %ul
          %li
            %a{:href => "http://mines.humanoriented.com/classes/2009/spring/csci403/", :title => "CSCI 403 Database Management"} CSCI 403: Database Management
    .past{:style => "color:#999;"}
      %h3 2008
      %ul
        %li
          %h4 Fall
          %ul
            %li
              %a{:href => "http://mines.humanoriented.com/classes/2008/fall/csci568/", :title => "CSCI 568 Data Mining"} CSCI 568: Data Mining
        %li
          %h4 Spring
          %ul
            %li
              %a{:href => "http://mines.humanoriented.com/classes/2008/spring/csci403/", :title => "CSCI 403 Database Management"} CSCI 403: Database Management
