---
body_dom_id: publications
container_class: container-fluid
---

.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Books
        %li
          %a{:href => "#"} A Postmodern Introduction to Computer Science
        %li
          %a{:href => "#"} Programming Concepts
        %li
          %a{:href => "#"} Data Structures and Why You Need Them
        %li.nav-header Papers &amp; Articles
        %li{:style => "color:#CCC;"} Like anyone would publish my crap
        %li.nav-header Other Writing
        %li
          %a{:href => "#"} Teaching, Learning &amp; Blenders
        %li
          %a{:href => "#"} The Value of Failure (Grades are Dumb)
        %li
          %a{:href => "#"} How an Idiot Like Me Designs a Great Course
  .span9
    .hero-unit
      %h1 Don't believe a word.
      %p #TODO Anim carles gastropub, four loko biodiesel put a bird on it esse. Freegan VHS vinyl high life. Ethnic stumptown do, +1 gentrify street art pour-over butcher dolore godard nulla.
      %p
        %a.btn.btn-primary.btn-large TODO »
    .row-fluid
      .span4
        %h2 A Postmodern Introduction to Computer Science
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} TODO »
      .span4
        %h2 Programming Concepts
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} TODO »
      .span4
        %h2 Data Structures and Why You Need Them
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} TODO »
    .row-fluid
      .span4
        %h2 Teaching, Learning &amp; Blenders
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} TODO »
      .span4
        %h2 The Value of Failure (Grades are Dumb)
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} TODO »
      .span4
        %h2 How an Idiot Like Me Designs a Great Course
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} TODO »
