---
body_dom_id: research
container_class: container-fluid
---

.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Sidebar
        %li.active
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li.nav-header Sidebar
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li.nav-header Sidebar
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
  .span9
    .hero-unit
      %h1 All very confusing.
      %p #TODO Anim carles gastropub, four loko biodiesel put a bird on it esse. Freegan VHS vinyl high life. Ethnic stumptown do, +1 gentrify street art pour-over butcher dolore godard nulla.
      %p
        %a.btn.btn-primary.btn-large Learn more »
    .row-fluid
      .span4
        %h2 Notes from The Passionate Programmer
        %p
          An experiment in note publishing, likely relevant to myself and not worth sharing. My notes from
          = link_to "Chad Fowler's", 'http://www.chadfowler.com/', :title => 'Chad Fowler'
          = succeed '.' do
            = link_to 'The Passionate Programmer', 'http://pragprog.com/book/cfcar2/the-passionate-programmer', :title => "The Passionate Progammer"
        %p
          %a.btn{:href => "#"} View notes »
      .span4
        %h2 Zuvuya
        %p The great memory circuit.
        %p
          %a.btn{:href => "#"} View details »
      .span4
        %h2 State Synchronization Protocol
        %p SSP runs over UDP, synchronizing the state of any object from one host to another.
        %p
          %a.btn{:href => "#"} View details »
    .row-fluid
      .span12
        %h3 Clouds: A Documentary
        %iframe{:width => '760', :height => '427', :src => "http://player.vimeo.com/video/42852185", :frameborder => '0', :allowfullscreen => 'true'}