---
body_dom_id: research
container_class: container-fluid
---

.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Sidebar
        %li.active
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li.nav-header Sidebar
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li.nav-header Sidebar
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
    / /.well
  / /span
  .span9
    .hero-unit
      %h1 All very confusing.
      %p #TODO Anim carles gastropub, four loko biodiesel put a bird on it esse. Freegan VHS vinyl high life. Ethnic stumptown do, +1 gentrify street art pour-over butcher dolore godard nulla.
      %p
        %a.btn.btn-primary.btn-large Learn more »
    .row-fluid
      .span4
        %h2 Notes from The Passionate Programmer
        %p
          An experiment in note publishing, likely relevant to myself and not worth sharing. My notes from
          = link_to "Chad Fowler's", 'http://www.chadfowler.com/', :title => 'Chad Fowler'
          = succeed '.' do
            = link_to 'The Passionate Programmer', 'http://pragprog.com/book/cfcar2/the-passionate-programmer', :title => "The Passionate Progammer"
        %p
          %a.btn{:href => "#"} View notes »
      / /span
      .span4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} View details »
      / /span
      .span4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} View details »
      / /span
    / /row
    .row-fluid
      .span4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} View details »
      / /span
      .span4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} View details »
      / /span
      .span4
        %h2 Heading
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} View details »
      / /span
    / /row
  / /span
/ /row