---
body_dom_id: services
container_class: container-fluid
---

.row-fluid
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header Spring 2013
        %li.future Asst. Department Head
        %li.future ACM Faculty Advisor
        %li.nav-header Fall 2012
        %li Asst. Department Head
        %li EECS UG Committee
        %li UG Council Rep.
        %li ACM Faculty Advisor
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header General Assistance
        %li.future TODO
        %li.future TODO
        %li.future TODO
        %li.future TODO
        %li.future TODO
        %li.future TODO
  .span9
    .hero-unit
      %h1 Use me up.
      %p Currently serving as Assistant Department Head, I manage course scheduling, advisor allocation, and strive to continuously improve the undergraduate curriculum.
      / %p
      /   %a.btn.btn-primary.btn-large Learn more »
    .row-fluid
      .span4
        %h2 Course Scheduling
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Undergraduate Advising
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span4
        %h2 Undergraduate Curriculum
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
    .row-fluid
      .span4
        %h2 ACM Faculty Advisor
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{:href => "#"} #TODO »
      .span8
        %h4
          My friends feel it's their appointed duty
          %br
          They keep trying to tell me all you want to do is use me
          %br
          But my answer yeah to all that use me stuff
          %br
          Is I want to spread the news that if it feels this good getting used
          %br
          Oh you just keep on using me until you use me up
          %br
          Until you use me up
          %br
          My brother sit me right down and he talked to me
          %br
          He told me that I ought not to let you just walk on me
          %br
          And I'm sure he meant well yeah but when our talk was through
          %br
          I said brother if you only knew you'd wish that you were in my shoes
          %br
          You just keep on using me until you use me up
          %br
          Until you use me up
    .row-fluid
      .span12
        %br
        %iframe{:width => 720, :height => 540, :src => "http://www.youtube.com/embed/dbN8jqDhHO8", :frameborder => 0, :allowfullscreen => true}
    .row-fluid
      .span4
      .span8
        %h4
          Oh sometimes yeah it's true you really do abuse me
          %br
          You get in a crowd of high class people and then you act real rude to me
          %br
          But oh baby baby baby baby when you love me I can't get enough
          %br
          I and I want to spread the news that if it feels this good getting used
          %br
          Oh you just keep on using me until you use me up
          %br
          Until you use me up
          %br
          Talking about you using me but it all depends on what you do
          %br
          It ain't too bad the way you're using me
          %br
          'Cause I sure am using you to do the things you do
          %br
          Ah ha to do the things you do
        %p &quot;Use Me&quot; Bill Withers
